<div class="custom-elements">
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="successtoast" class="toast" role="alert" aria-atomic="true">
      <div class="toast_inner_main success">
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        <h6>Success</h6>
        <p id="success_message"></p>
      </div>
    </div>
  </div>
  <!-- toast fade show -->
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="dangertoast" class="toast" role="alert" aria-atomic="true">
      <div class="toast_inner_main danger">
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        <h6>Error</h6>
        <p id="danger_message"></p>
      </div>
    </div>
  </div>
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="warningtoast" class="toast" role="alert" aria-atomic="true">
      <div class="toast_inner_main warning">
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        <h6>Warning</h6>
        <p id="warning_message"></p>
      </div>
    </div>
  </div>
</div>