 <%- include('./partials/header.ejs') %>

  <div class="right-bar">
    <h2 class="custom-heading custom-card">Manage Storage Services</h2>
    <div class="custom-card">
      <div class="user-profile-deatils">
        <div class="user-profile-deatils-inner">
          <div class="section-header">
            <a href="/add-storage-services" class="add_import"><i class="fi fi-rs-plus"></i></a>
          </div>
          <div class="table-responsive">
            <table class="table table-striped" id="servicesDetails">
              <thead>
                <tr>
                  <th>Sr.</th>
                  <th>Service ID</th>
                  <th>Title</th>
                  <th>Files</th>
                  <th>Storage Used</th>
                  <th>Enabled</th>
                  <th>Default</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <div id="loader" class="loader-overlay loader-main">
              <div class="loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>
    <!-- Delete Modal -->
    <div class="modal fade delete-modal" id="deleteModel" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="delete-content">
            <img src="images/remove.png" alt="delete img" class="delete-img" />
            <h3>Are you sure?</h3>
            <p>
              Do you really want do delete this data <br />
              this storage service cannot be find.
            </p>
            <div class="delete-content-btn">
              <button type="button" class="btn btn-danger" id="confirmDeleteUser" onclick="">
                Delete
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(() => storageConfig());

      function storageConfig() {
        $(".loader-main").css("display", "flex")
        $.ajax({
          type: "GET",
          url: `/storage-config`,
          success: (response) => {
            handleServiceContent(response);
            $(".loader-main").css("display", "none")
          },
          error: (error) => {
            $(".loader-main").css("display", "none")
          },
        });
      }

      function handleServiceContent(response) {
        if (response.success) {
          const content = getStorageServiceContent(response.data);
          $("#servicesDetails tbody").html(content);
        }
      }
      function getStorageServiceContent(services) {
        let tableContent = "";
        for (let service = 0; service < services.length; service++) {
          const data = services[service];
          const content = `<tr>
        <td> ${service + 1} </td>
        <td>${data._id}</td>
        <td>${data.name}</td>
        <td>${data.files}</td>
        <td>${Math.floor(data.storageUsed / 1024)} KB</td>
        <td class="text-center">${data.enabled}</td>
        <td>
          <input class="form-check-input" type="radio" name="default" value="" onclick="${!data.default ? "setDefault(this.id)" : ""
            }" id=${data._id} ${data.default ? "checked" : ""} ${data.enabled ? "" : "disabled"
            } />
        </td>
        <td>
            <div class="action-button">
                <a href="/edit-storage-service?id=${data._id
            }" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="Edit"> <i class="fi fi-rs-pencil"></i></a>
                    ${data.default
              ? ""
              : `<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete"><i class="fi fi-rs-trash" onClick="deleteButton(this.id)" id="${data._id}"></i></a>`
            }
                
            </div>
        </td>
    </tr>`;
          tableContent += content;
        }
        return tableContent;
      }

      function deleteButton(id) {
        $("#confirmDeleteUser").attr("onClick", `deleteUser('${id}')`);
        $("#deleteModel").modal("show");
      }

      function deleteUser(id) {
        $("#deleteModel").modal("hide");
        deleteService(id);
      }

      function deleteService(id) {
        $.ajax({
          method: "POST",
          url: "/delete-storage-services",
          data: { id: id },
          success: (response) => {
            toastNotification("success", response.message);
            storageConfig();
          },
          error: (error) => {
            toastNotification("danger", error.responseJSON.message);
          },
        });
      }

      function setDefault(id) {
        console.log(id, "id");
        $.ajax({
          method: "POST",
          url: "/set-default-storage",
          data: { id: id },
          success: (response) => {
            toastNotification("success", response.message);
            storageConfig();
          },
          error: (error) => {
            toastNotification("danger", error.responseJSON.message);
            storageConfig();
          },
        });
      }
    </script>